#wall .tag-1 {
  display: none;
}

.rainbow-text {
    background: linear-gradient(90deg, rgb(47, 0, 255) 0%, rgb(0, 255, 179) 10%, rgb(102, 222, 33) 20%,
        rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%, rgb(142, 12, 248) 80%, rgb(60, 7, 251) 90%, rgb(47, 0, 255) 100%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: epicText 4s linear infinite;
    color: inherit;
    text-align: center;
    font-size: 15vw;
}
