/* write your override styles here */
/* write your override styles here */
#wall div.tag-1{
    display:none;
}

#wall div#tag-2{
    display:none;
}

#wall div#tag-3.slick.wicked{
    display:none;
}

#wall div#tag-4{
    background:none;
}
div#wall div.parent #tag-5.slick{
    background:none;
}

body div#wall div.parent div:last-child div#tag-6{
    background:none;
}

body div#wall div.parent div:first-child > #tag-7.slick{
    background:none;
}